
#about_blue {
    background-color: #6495ED;
    border-color: black;
    border: 3px solid
}

#about_yellow {
  background-color: #FFEBCD;
  border-color: black;
  border: 3px solid
}

.important {
  font-weight: bold;
}

#about_blue ul li {
  color: blue;
}

a {
  background-color: red;
  color: white;
}

ul.nav li {
  display: inline-block;
  padding-right: 10px;
}

#about_yellow ul li {
  color: orange;
}
